# Cached File #
__init__.pyc
views.pyc
test.pyc
models.pyc
apps.pyc
admin.pyc
forms.pyc
urls.pyc

# Databases #
.sql
.log
.sqlite
.sqlite3
db.sqlite3

# OS Compiled #
.DS_Store
.DS_Store?
Thumbs.db


# ignore directory #
migrations/
.idea/SI_Apotek.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

mystatic/
