<!DOCTYPE html>
<html>
<head>
	<title>SI Apotek</title>
</head>
<body>
	<a href="/obat/">Obat</a><br>
	<a href="/pelanggan/">Pelanggan</a><br>
	<a href="/pemesanan/">Pemesanan</a><br>
	<a href="/detail_pemesanan/">Detail Pemesanan</a><br>
	<a href="/resep/">Resep</a><br>
	<a href="/penjualan/">Penjualan</a><br><br>
	<a href="/login_karyawan/">Login karyawan</a><br>
	<a href="/logout_karyawan/">Logout karyawan</a><br><br>
	<a href="/register_karyawan/">Register karyawan</a><br>
	<a href="/suplier/">Suplier</a><br>
</body>
</html>
